*.DS_Store
*.user
*.7pre1
*.app/
*.mov
*-build
Thumbs.db

*.o
*.so
*.a
*.dylib
*.dll
*.exe

moc_*.cpp
moc_*.h
moc_predefs.h
ui_*.h
qrc_*.cpp

Makefile
Makefile.*
*.pro.user
*.pro.user.*

.qmake.stash

*.autosave

iannix
IanniX

build/
build-*/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

*.log

.vscode/
.idea/
*.swp
*.swo
*~
